body{background-color: blue;
}
.p1 {text-align: center;
}
.p1 {border-style: double;
border-color: crimson;
border-width: 5px;
}
.p1 {margin-right: 15%;
margin-left: 25%;
padding-left: 10%;
}

.p2 {text-align: center;
}
.p2 {border-style: double;
border-color: rgb(255, 230, 0);
border-width: 5px;
}
.p2 {margin-right: 15%;
margin-left: 25%;
padding-left: 10%;
}

.p3 {text-align: center;
}
.p3 {border-style: double;
border-color: rgb(0, 60, 255);
border-width: 5px;
}
.p3 {margin-right: 15%;
margin-left: 25%;
padding-left: 10%;
}

.p4 {text-align: center;
}
.p4 {border-style: double;
border-color: rgb(0, 255, 0);
border-width: 5px;
}
.p4 {margin-right: 15%;
margin-left: 25%;
padding-left: 10%;
}

#ima1 {margin-left: 20%;
}
